/* Homepage top margin */
div.ui.container {
    margin-top: 3.5rem;
}

/* Homepage - Answered and Unanswered Nav buttons flex conmtainer styling */
div#buttons-container {
    display: flex;
    justify-content: flex-end;
}

/* ---Answered and UnanswerList styling--- */
/* Header */
div.ui.container h1 {
    text-align: center
}