/* NAV MENU TOP MARGIN */
div.ui.container div.ui.secondary.pointing.menu {
    margin-top: 1.25rem;
}

/* Nav menu - Logout button margin left*/
div.user-info button.ui.tiny.button {
    margin-left: 1rem;
}

div.user-info span {
    color: #0E6EB8;
    font-weight: bold;
    margin-left: 0.25rem;
}

/* ---UserSelector element styling--- */
div.right.menu select.ui.selection.dropdown {
    padding: 0 1rem;
}
