/* user avatar image styling */
div.ui.centered.card div.content img.ui.avatar {
    margin-right: .5rem;
}

/* Username font styling */
div.ui.centered.card div.content#avatar {
    font-size: 1.071rem;
    text-transform: uppercase;
    font-weight: 400;
}

div.ui.centered.card div.content h2 {
    font-size: 1.429rem;
    text-align: center;
}

/* form radio inputs text styling */
div.ui.centered.card div.content div.description div.grouped.fields div.field {
    text-align: left;
}

